<p>error-page works!</p>


<h2>auth</h2>
<ul>
    <li> <a routerLink="/auth">Ir a login</a></li>
    <li> <a routerLink="/auth/register">Ir a Register</a></li>
</ul>

<h2>heroes</h2>
<ul>
    <li> <a routerLink="/heroes">Ir a Listado de Heroes</a></li>
    <li> <a routerLink="/heroes/agregar">Ir a Agregar Heroe</a></li>
    <li> <a routerLink="/heroes/editar/idheros123">Ir a Editar Heroe</a></li>
    <li> <a routerLink="/heroes/buscar">Ir a Buscar Heroe</a></li>
    <li> <a routerLink="/heroes/idHeroe">Ir a Ver Heroe por ID</a></li>
</ul>