<mat-form-field fxLayout="column">
    <mat-label>Buscar heroe</mat-label>
    
    <input type="text"
            matInput [(ngModel)]="termino" 
            [matAutocomplete]="auto"
            (input)="buscando()">

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="opcionSelecionada($event)">
      
        <mat-option *ngFor="let heroe of heroes" [value]="heroe">
            {{ heroe.superhero }}
        </mat-option>

        <!-- Sin resultados -->
        <mat-option *ngIf="heroes.length <= 0 && termino.trim().length > 0;" [value]="''">
            No se encontraron resultados con <i>" {{ termino }} "</i>
        </mat-option>
        
    </mat-autocomplete>
</mat-form-field>

<ng-container *ngIf="heroeSelecionado">
    <div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="center top" >
        <div fxFlex="20" class="heroe">
            <app-heroe-tarjeta [heroe]="heroeSelecionado" ></app-heroe-tarjeta>
        </div>
        <div fxFlex="30" class="heroe-data">
            {{ heroeSelecionado | json }}
        </div>
    </div>
</ng-container>
